<link rel="stylesheet" href="{$wa_app_static_url}plugins/payrem/css/payrem.css" type="text/css">
<script src="{$wa_app_static_url}plugins/payrem/js/payrem.js"></script>

<h1>{_wp('Payment Reminder Plugin Setup')}</h1>

<div id="s-plugin-payrem-cron-help">
    <p>Для корректной работы плагина необходимо настроить исполнение плагина по расписанию (cron).
        Для этого добавьте в список заданий такую строку:
        <br>
        <code>{$cron_string}</code>
        <br>
        Подробнее о конфигурировании заданий в Cron можно прочитать в документации фреймворка в разделе <a href="http://www.webasyst.ru/developers/docs/tips/cron/" target="_blank" title="откроется в новом окне">«Настройка Cron»</a>.
    </p>
</div>

<div class="fields form">
    <form action="?module=plugins&id=payrem&action=save" method="post" id="plugins-settings-form"
          enctype="multipart/form-data" target="plugins-settings-iframe">
        {$wa->csrf()}
        {foreach $settings_controls as $name => $control}
            <div class="field">
                {$control}
            </div>
        {/foreach}

        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="[`Save`]">
                <span id="plugins-settings-form-status" style="display:none"><!-- message placeholder --></span>
            </div>
        </div>

    </form>
    <iframe style="display:none" name="plugins-settings-iframe" id="plugins-settings-iframe"></iframe>
    <div class="field" style="margin: 15px 0" id="s-plugin-payrem-sendtest">
        <div class="name">Протестировать отправку</div>
        <div class="value">
            <div id="s-plugin-payrem-sendtest-helptext">
                Сохраните настройки и отправьте тестовое сообщение. Сообщение будет отправлено на указанный
                e-mail адрес, независимо от того, какой указан в заказе. Статус заказа также не важен.
            </div>
            <div>
                <div>
                    <label for="s-plugin-payrem-sendtest-order-select">
                        Номер заказа
                    </label>
                    <select name="sendtest[order]" id="s-plugin-payrem-sendtest-order-select">
                        {foreach $testsend_orders as $order}
                            <option value="{$order.id}"{if $order@first} selected{/if}>{$order.id_str}</option>
                        {/foreach}
                    </select>
                </div>
                <div>
                    <label for="s-plugin-payrem-sendtest-email-input">
                        Отправить на адрес
                    </label>
                    <input type="email" name="sendtest[email]" id="s-plugin-payrem-sendtest-email-input">
                </div>
                <div>
                    <label for="s-plugin-payrem-sendtest-delay-input">Задержка отправки</label>
                    <span class="hint">Число дней с момента создания выбранного заказа. Одно из значений, указанных в настройке «Задержка отправки»</span>
                    <br>
                    <input type="number" min="1" name="sendtest[delay]" id="s-plugin-payrem-sendtest-delay-input">
                </div>
                <div style="margin-top: 20px">
                    <button type="button" class="green" id="s-plugin-payrem-test-btn">{_wp('Send test message')}</button>
                    <span id="s-plugin-payrem-sendtest-result"></span>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>
<script type="text/javascript">
</script>
